//=================
.footer-main-area {
  // min-height: 650px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 80px;
  .footer-inner-container {
    .footer-title {
      h4 {
        color: #7590ae;
        font-family: Sora;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 30px;
      }
    }

    .footer-top-area {
      min-height: 450px;
      .footer-left-content {
        ul {
          list-style: none;
          padding-left: 0;
          margin-bottom: 0;
          li {
            display: flex;
            color: #d2dbe5;
            gap: 12px;
            margin-bottom: 14px;
            a.google-maps-location {
              display: flex;
              align-items: center;
              gap: 9px;
              text-decoration: none;
            }
          }
        }
        .social-link-area {
          display: flex;
          gap: 20px;
          align-items: center;
        }
      }
      .footer-right-content {
        .footer-right-single-item {
          .footer-title {
            text-align: right;
            padding-right: 30px;
          }
          ul {
            list-style: none;
            padding-left: 0;
            li {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              gap: 16px;
              margin-bottom: 16px;
              transition: 0.5s;
              &:last-child {
                margin-bottom: 0px;
              }
              &:hover {
                padding-right: 16px;
                a {
                  color: #0070ff;
                }
                i {
                  color: #0070ff;
                }
              }
              a {
                color: #d2dbe5;
                font-family: Sora;
                font-size: 16px;
                line-height: 26px;
                text-decoration: none;
                transition: 0.5s;
              }
              i {
                color: rgba(60, 80, 103, 5);
                transition: 0.5s;
              }
            }
          }
        }
      }
    }
    hr {
      margin: 0px;
    }
    .footer-bottom-copyright {
      text-align: center;
      min-height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        margin-bottom: 0;
        color: #fff;
      }
    }
  }
}
